$text-color: white;
$colors: (color1: blue, color2: red, color3: yellow);

// Functions
@mixin box-shadow($color) {
    box-shadow: 2px 4px 2px -2px $color;
}

// Condições
@mixin make-bold($bool) {
    @if $bool == true {
        font-weight: bold;
    }
}

@mixin text-effect($val) {
    @if $val == danger {
        color: red;
    }
    @else if $val == alert {
        color: yellow;
    }
    @else {
        color: black;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @extend .flex; // Herança
    background-color: #7159c1;
    color: $text-color;
}

.container {
    @include box-shadow(rgba(0,0,0,0.6));
    $text-container: orange;
    width: 200px;
    height: 200px;
    background-color: white;
    color: $text-container;

    p {
        @include box-shadow(rgba(0,0,0,0.6));
        background-color: green;
        width: 100px;
        height: 100px;
        @include text-effect(danger);
        @include make-bold(true)
    }
}

// Estrutura de repetição
@for $i from 1 through 5 {
    .text-#{$i} {
        font-size: 15px * $i;
    }
}

@each $key, $color in $colors {
    .#{$color}-text { color: $color; }
}

p {
    color: red;
    &:hover {
        color: pink;
    }
}