$text-color: white;

@mixin box-shadow($color) {
    box-shadow: 4px 4px 4px -4px $color;
}

@mixin make-bold($bool) {
    @if $bool == true {
        font-weight: bold;
    }
}

body {
    background-color: #7159c1;
    color: $text-color;
}

.container {
    @include box-shadow(rgba(0,0,0,0.6));
    $text-container: orange;
    width: 200px;
    height: 200px;
    background-color: white;
    color: $text-container;

    p {
        @include box-shadow(rgba(0,0,0,0.6));
        background-color: green;
        width: 100px;
        height: 100px;
        color: blue;
        @include make-bold(true)
    }
}